{% extends 'base.html' %}

{% block navbar %}
  <p><b>Step 1: {% block title %}Search{% endblock %}</b>&nbsp;&nbsp;→&nbsp;&nbsp;
  Step 2: Select articles and email addresses&nbsp;&nbsp;→&nbsp;&nbsp;
  Step 3: Enter submission path</p>
{% endblock %}

{% block content %}
  <b>Instructions </b>
  <ul>
    <li>Select whether to search by email address or DOI / PMID.</li>
    <li>Enter one or more search terms as a comma-separated list.</li>
  </ul>
  <form method="post">
    <!--Search Type<br/><br/>-->
    <input type="radio" id="email" name="search_type" value="email"
      {% if search_type == 'email' or search_type == Null %} checked {% endif %}>
    <label for="email">Email address</label>
    <input type="radio" id="doi" name="search_type" value="doi"
      {% if search_type == 'doi' %} checked {% endif %}>
    <label for="doi">DOI / PMID</label>
    <!--<select name="search_type" id="search_type">
      <option {% if search_type == 'doi' %} selected {% endif %} value="doi">DOI/ Pubmed ID</option>
      <option {% if search_type == 'pmid' %} selected {% endif %} value="pmid">Pubmed ID</option>
      <option {% if search_type == 'email' %} selected {% endif %} value="email">Email</option>
    </select>--><br/><br/>
    <!--Please enter search values separated by commas:<br/><br/>-->
    <textarea name="doi" autofocus="TRUE" id="doi" rows="4" cols="75" required >{{ doi }}</textarea><br/><br/>
    <input class="btn btn-primary" type="submit" value="Search">
  </form>
{% endblock %}