{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit Pipeline Order{% endblock %}</h1>
{% endblock %}

{% block content %}
<script>
  var dateClass='.datechk';
$(document).ready(function ()
{
  if (document.querySelector(dateClass).type !== 'date')
  {
    var oCSS = document.createElement('link');
    oCSS.type='text/css'; oCSS.rel='stylesheet';
    oCSS.href='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css';
    oCSS.onload=function()
    {
      var oJS = document.createElement('script');
      oJS.type='text/javascript';
      oJS.src='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js';
      oJS.onload=function()
      {
        $(dateClass).datepicker();
      }
      document.body.appendChild(oJS);
    }
    document.body.appendChild(oCSS);
  }
});
</script>
<script>
  $(document).ready(function ()
{
  $('.js-example-basic-single').select2();
});
</script>
  {% if allow_enter == False %}
    <h2 style="color:orange">Information has already been entered using this unique URL, please re-register if you wish to re-enter!</h2>
  {% endif %}
  <h3>{{ article_info.title }}</h3>
  <b>DOI:&nbsp;</b>{{ article_info.doi }}<br/>
  <b>Publication Date:&nbsp;</b>{{ article_info.pub_date }}<br/>
  <b>Authors:</b><br/>
  {% for author in author_doi %}
      {{author.author['author_name']}}<sup>{{author.affiliation_nums}}</sup>{% if not loop.last %},&nbsp; {% endif %}
  {% endfor %}<br/>
  <b>Affiliations:&nbsp;</b><br/>
  {% for affiliation in affiliation_list %}
      <br/>{{ loop.index }}.&nbsp;{{affiliation}}<br/>
  {% endfor %}<br/>
  {% if allow_enter == True and has_completed == True %}
    <h3 style="color:yellowgreen">Information has already been entered for this DOI using a different URL, here is the information entered (please only submit if the information is incorrect!):</h3>
    <table>
      <tr>
        <td style="width:25%">
          Step
        </td>
        <td style="width:25%">
          Date
        </td>
        <td style="width:40%">
          Journal
        </td>
        <td style="width:10%">
          &nbsp;
        </td>
      </tr>
      {% for path_item in completed_paths %}
        <tr>
          <td>
            {{ path_item.step }}
            {% if loop.last %}
              &nbsp;(Final Submission)
            {% endif %}
          </td>
          <td>
            {{ path_item.submission_date }}
          </td>
          <td>
            {{ path_item.journal }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <h3>Step Entry</h3>
  <form id="package_form" action="" method="post">
    <table>
      <tr>
        <td style="width:25%">
          Step
        </td>
        <td style="width:25%">
          Date
        </td>
        <td style="width:40%">
          Journal
        </td>
        <td style="width:10%">
          &nbsp;
        </td>
      </tr>
        {% for path_item in session["path_list"] %}
          <tr>
            <td>
              <input hidden type="number" id="{{'idx' + path_item.idx|string }}" name="idx" value="{{ path_item.idx }}" />
              <input hidden type="number" id="{{'step' + path_item.step|string }}" name="step" value="{{ path_item.step }}" />
              {{ path_item.step }}
              {% if loop.last %}
                &nbsp;(Final Submission)
              {% endif %}<br/>
              {% if (not path_item.error == '') and path_item.show_error %}
                <p style="color:red">ERROR:&nbsp;{{ path_item.error }}</p>
              {% endif %}
            </td>
            <td>
              {% if confirm == False and allow_enter == True %}
                <input type="date" id="{{ 'submit_date' + path_item.step|string }}" name="submit_date" value="{{ path_item.submit_date }}" class="datechk">
              {% else %}
                <input hidden type="date" id="{{ 'submit_date' + path_item.step|string }}" name="submit_date" value="{{ path_item.submit_date }}" class="datechk">
                {{ path_item.submit_date }}
              {% endif %}
            </td>
            <td>
              {% if not loop.last and confirm == False and allow_enter == True %}
                <select class="js-example-basic-single" id="{{ 'journal' + path_item.step|string }}" name="journal" value="{{ path_item.journal }}">
                  <option value="">--None Selected--</option>
                  {% for journal_opt in journal_opts %}
                    {% if journal_opt.journal_name == path_item.journal %}
                      <option selected value="{{ journal_opt.journal_name }}">{{ journal_opt.journal_name }}</option>
                    {% else %}
                      <option value="{{ journal_opt.journal_name }}">{{ journal_opt.journal_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                <input hidden id="{{ 'journal' + path_item.step|string }}" name="journal" value="{{ path_item.journal }}" />
                {{ path_item.journal }}
              {% endif %}
            </td>
            <td>
              {% if not loop.last and confirm == False and allow_enter == True %}
                <input type="submit" name="{{ 'del_item' + path_item.step|string }}" value="Delete Step" />
              {% endif %}
            </td>
          </tr>
        {% endfor %}
    </table>
    {% if confirm == False and allow_enter == True %}
      <div class="panel-body">
        <input type="submit" name="add_item" value="Add Step">
      </div>
      <div class="panel-body">
        <input type="submit" name="submit" value="Submit">
      </div>
    {% else %}
      {% if allow_enter == True %}
        <div class="panel-body">
          <input type="submit" name="cancel" value="Cancel">
        </div>
        <div class="panel-body">
          <input type="submit" name="confirm" value="Confirm">
        </div>
      {% endif %}
    {% endif %}
  </form>
{% endblock %}