{% extends 'base.html' %}
{% block title %}
  {% if confirm == False %}
    Enter
    {% else %}
      Confirm
  {% endif %}
{% endblock %}
{% block navbar %}
  <p>Step 1: Register&nbsp;&nbsp;→&nbsp;&nbsp;
  Step 2: Select Papers and Emails&nbsp;&nbsp;→&nbsp;&nbsp;
  {% if confirm == False %}
    <b>Step 3: Enter Steps</b>&nbsp;&nbsp;→&nbsp;&nbsp;
    Step 4: Confirm Information</p>
    {% else %}
      Step 3: Enter Steps&nbsp;&nbsp;→&nbsp;&nbsp;
      <b>Step 4: Confirm Information</b></p>
  {% endif %}
{% endblock %}

{% block content %}
<script>
  var dateClass='.datechk';
$(document).ready(function ()
{
  if (document.querySelector(dateClass).type !== 'date')
  {
    var oCSS = document.createElement('link');
    oCSS.type='text/css'; oCSS.rel='stylesheet';
    oCSS.href='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css';
    oCSS.onload=function()
    {
      var oJS = document.createElement('script');
      oJS.type='text/javascript';
      oJS.src='//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js';
      oJS.onload=function()
      {
        $(dateClass).datepicker();
      }
      document.body.appendChild(oJS);
    }
    document.body.appendChild(oCSS);
  }
});
</script>
<script>
  $(document).ready(function ()
{
  function sortCustom(data) {
    // If there are no search terms, return all of the data
    function array_move(arr, old_index, new_index) {
      if (new_index >= arr.length) {
          var k = new_index - arr.length + 1;
          while (k--) {
              arr.push(undefined);
          }
      }
      arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
    };

    for (var i = 0; i <= data.length; i++) {
        var result = data[i];

        if (typeof result !== "undefined" && result.text === params_text) {
            array_move(data, i, 0);
        }
    }

    return data;
  }
  function matchCustom(params, data) {
      // If there are no search terms, return all of the data
    if ($.trim(params.term) === '') {
      return null;
    }

    // Skip if there is no 'children' property
    if (typeof data.text === 'undefined') {
      return null;
    }

    const regex = /&/g
    data_text = data.text.replace(regex, 'and')
    params_text = params.term.replace(regex, 'and')
    if (data_text.toUpperCase().indexOf(params_text.toUpperCase()) == 0) {
      return data
    }

    // Return `null` if the term should not be displayed
    return null;
  }
  $('.js-example-basic-single').select2({
    matcher: matchCustom
    //sorter: sortCustom
  });
});
</script>
  {% if allow_enter == False %}
    <h2 style="color:orange">Information has already been entered using this unique URL, please re-register if you wish to re-enter!</h2>
    {% else %}
    <b>Instructions: </b>
    <ol>
      {% if confirm == False %}
        <li>Enter each submission step in chronological order for the paper listed. If you submitted to a journal multiple times, only use the first instance of submission. Submission dates are optional.</li>
        <li>Search for journals from parsed pubmed journal names in the drop down search.</li>
        <li>Add/delete steps as necessary. You can also use the arrows to move steps up or down the list.</li>
        <li>Once you have entered all information, click "Submit." We will check for possible entry errors and highlight them.</li>
        <li>If no errors are found, you will be taken to a final confirmation screen.</li>
      {% else %}
        <li>If you realize you made a mistake, click "Cancel" to return to the entry screen.</li>
        <li>Once you have confirmed all streps are entered correctly, click "Confirm" to finish submitting the information.</li>
      {% endif %}
    </ol>
  {% endif %}
  <h4>{{ article_info.title }}</h4>
  {% for author in author_doi %}
      {{author.author['author_name']}}{% if not loop.last %},&nbsp; {% endif %}
  {% endfor %}<br/>
  <i>{{ article_info.journal_name }}, {{ article_info.pub_date }}</i><br/>
  DOI:&nbsp;{{ article_info.doi }}<br/>
  {% if allow_enter == True and has_completed == True %}
    <h4 style="color:yellowgreen">Information has already been entered for this DOI using a different URL, here is the information entered (please only submit if the information is incorrect!):</h4>
    <table>
      <tr>
        <td style="width:25%">
          Step
        </td>
        <td style="width:25%">
          First Submission Date
        </td>
        <td style="width:40%">
          Journal
        </td>
        <td style="width:10%">
          &nbsp;
        </td>
      </tr>
      {% for path_item in completed_paths %}
        <tr>
          <td>
            {{ path_item.step }}
            {% if loop.last %}
              &nbsp;(Final Submission)
            {% endif %}
          </td>
          <td>
            {{ path_item.submission_date }}
          </td>
          <td>
            {{ path_item.journal }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}<br/>
  <h4>Step Entry</h4>
  <form id="package_form" action="" method="post">
    <table style="width:70%;">
      <tr>
        <td style="width:5%">
          &nbsp;
        </td>
        <td style="width:10%">
          &nbsp;
        </td>
        <td style="width:15%">
          Step
        </td>
        <td style="width:25%">
          First Submission Date
        </td>
        <td style="width:40%">
          Journal
        </td>
      </tr>
        {% for path_item in session["path_list"] %}
          <tr>
            <td style="vertical-align: bottom;">
              {% if confirm == False and allow_enter == True %}
                <!--<input class="button-link" type="submit" name="{{ 'add_item' + path_item.step|string }}" value="Add Step Above">-->
                <input class="btn btn-primary" type="submit" name="{{ 'add_item' + path_item.step|string }}" value="Add Step Above">
              {% endif %}
            </td>
            <td style="vertical-align: bottom; ">
              {% if not loop.last and confirm == False and allow_enter == True %}
                <input class="btn btn-danger" type="submit" name="{{ 'del_item' + path_item.step|string }}" value="Delete Step" />
              {% endif %}
            </td>
            <td>
              {% if not loop.last and confirm == False and allow_enter == True %}
                {% if not loop.first %}
                  <input type="submit" class="button-link" id="{{'up_item' + path_item.step|string }}" name="{{'up_item' + path_item.step|string }}" value="&#8593;" />
                {% endif %}
                {% if not loop.revindex0 < 2 %}
                  <input type="submit" class="button-link" id="{{'down_item' + path_item.step|string }}" name="{{'down_item' + path_item.step|string }}" value="&#8595;" />
                {% endif %}

              {% endif %}
              <input hidden type="number" id="{{'idx' + path_item.idx|string }}" name="idx" value="{{ path_item.idx }}" />
              <input hidden type="number" id="{{'step' + path_item.step|string }}" name="step" value="{{ path_item.step }}" />
              {{ path_item.step }}
              {% if loop.last %}
                &nbsp;(Final Submission)
              {% endif %}<br/>
              {% if (not path_item.error == '') and path_item.show_error %}
                <p style="color:red">ERROR:&nbsp;{{ path_item.error }}</p>
              {% endif %}
            </td>
            <td>
              {% if confirm == False and allow_enter == True %}
                <input type="date" id="{{ 'submit_date' + path_item.step|string }}" name="submit_date" value="{{ path_item.submit_date }}" class="datechk">
              {% else %}
                <input hidden type="date" id="{{ 'submit_date' + path_item.step|string }}" name="submit_date" value="{{ path_item.submit_date }}" class="datechk">
                {% if path_item.submit_date != NULL and path_item.submit_date != "" %}
                  {{ path_item.submit_date }}
                {% else %}
                  Not specified.
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if not loop.last and confirm == False and allow_enter == True %}
                <select class="js-example-basic-single" style="width: 100%;" id="{{ 'journal' + path_item.step|string }}" name="journal" value="{{ path_item.journal }}">
                  <option value="">--None Selected--</option>
                  {% for journal_opt in journal_opts %}
                    {% if journal_opt.journal_name == path_item.journal %}
                      <option selected value="{{ journal_opt.journal_name }}">{{ journal_opt.journal_name }}</option>
                    {% else %}
                      <option value="{{ journal_opt.journal_name }}">{{ journal_opt.journal_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                <input hidden id="{{ 'journal' + path_item.step|string }}" name="journal" value="{{ path_item.journal }}" />
                {{ path_item.journal }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
    </table><br/>
    {% if confirm == False and allow_enter == True %}
      <div class="panel-body">
        <input class="btn btn-success" type="submit" name="submit" value="Submit">
      </div>
    {% else %}
      {% if allow_enter == True %}
        <div class="panel-body">
          <input class="btn btn-secondary" type="submit" name="cancel" value="Go Back">
        </div><br/>
        <div class="panel-body">
          <input class="btn btn-success" type="submit" name="confirm" value="Confirm">
        </div>
      {% endif %}
    {% endif %}
  </form>
{% endblock %}