{% extends 'base.html' %}

{% block navbar %}
  <p><b>Step 1: {% block title %}Register{% endblock %}</b>&nbsp;&nbsp;→&nbsp;&nbsp;
  Step 2: Enter submission path(s)</p><br/>
  <a href="/auth/logout">Logout</a>
{% endblock %}

{% block content %}
    Welcome, {{ user.full_name }}!<br/>
    Works from orcid:<br/>
    <ul>
        {% for doi in dois %}
            <li>{{ doi }}</li>
        {% endfor %}
    </ul>
    <a href="/home/landing">Return to home</a>
    <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-welcome" aria-expanded="false" aria-controls="collapse-welcome">Overview</button>
    <div class="collapse" id="collapse-welcome">
        <div class="card card-body">
        <b>Hello, and thank you for checking out C(3P)O!</b> <br/>
        This website allows authors to contribute information about the paths their papers have taken on the way to publication. 
        The “crowd-sourced” information will become part of a publicly available database that will shed light on a hidden aspect of the biomedical publishing system. 
        Contributing involves two steps: <br/>
        1. Identify articles on which you were an author. For each article, you will receive an email containing a special link. <br/>
        2. Follow the link to enter the article’s submission path, i.e., the sequence of journals (optionally, with dates) to which you submitted the manuscript. <br/>
        That’s it! Thank you again for participating! Please send any feedback to hugheylab.publishing.pipeline@gmail.com
        <br/><br/>
        *Please note that C(3P)O is currently in beta and is a work in progress.*
        </div>
    </div><br/><br/>
    <form method="post">
        <table id="article_table" style="width:100%;border-spacing: 0px;">
        <tr>
            <td colspan="2" style="width: 100%; border-bottom: 1px solid black;vertical-align: top;">
            <!--<b>Article Information</b>-->
            <b>Instructions </b>
            <ul>
                <li>If necessary, click Back to go to the previous screen and modify your search.</li>
                <li>Select your name from the author list of each article for which you want to enter the submission path.</li>
                <li>Click More information to show or hide author affiliations and article IDs.</li>
                <li>Click Confirm to send an email to the email address you provide for each selected author.</li>
            </ul><br/>
            <select onchange="filterTable()" name="paper_view" id="paper_view">
                <option value="all">All</option>
                <option value="in_progress">In progress</option>
                <option value="incomplete">Incomplete</option>
                <option value="complete">Complete</option>
            </select>
            </td>
        </tr>
        {% for article_info in article_infos %}
            <tr id="{{ article_info.article.id|string + '---' + article_info.has_completed_path|string + '---' + article_info.has_in_progress_path|string }}">
            <td style="width: 80%; border-bottom: 1px solid black;">
                <b>{{ article_info.article.title }}</b><br/>
                <input type="hidden" name="{{article_info.article.doi + '---link_author_sel'}}" id="{{article_info.article.doi + '---link_author_sel'}}" />
                {% for author in article_info.authors %}
                {{author.author['author_name']}}<sup>{% for affiliation in author.affiliation_nums %}{{affiliation}}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}</sup>{% if not loop.last %},{% endif %}
                <!--<input type="radio" id="{{article_info.article.doi + '---' + author.author.id|string}}" name="{{article_info.article.doi + '---author_sel'}}" value="{{article_info.article.doi + '---' + author.author.id|string}}"/><label for="{{article_info.article.doi + '---' + author.author.id|string}}">{{author.author['author_name']}}<sup>{% for affiliation in author.affiliation_nums %}{{affiliation}}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}</sup>{% if not loop.last %},{% endif %}</label>-->
                {% endfor %}<br/>
                <!--<button onclick="clearAuthor(this)" type="button" class="btn btn-danger" disabled name="{{article_info.article.doi + '---remove_link_author_sel'}}"  id="{{article_info.article.doi + '---remove_link_author_sel'}}">Clear selected author</button><br/><br/>-->
                {{ article_info.article.journal_name }}, {{ article_info.article.pub_date }}<br/>
                {% if article_info.has_completed_path == True %}<b style="color: orangered;">Path for this article has already been entered. You can re-enter the path if desired.</b><br/>{% endif %}
                {% if article_info.has_in_progress_path == True %}<b style="color: orangered;">Path entry progress has been saved but not submitted for this article.</b><br/>{% endif %}
                <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{loop.index}}" aria-expanded="false" aria-controls="collapse-{{loop.index}}">More information</button>
                <div class="collapse" id="collapse-{{loop.index}}">
                <div class="card card-body">
                    Affiliations:<br/>
                    {% for affiliation in article_info.affiliation_list %}
                        {{ loop.index }}.&nbsp;{{affiliation}}<br/>
                    {% endfor %}<br/>
                    DOI:&nbsp;{{ article_info.article.doi }}<br/>
                    PMID:&nbsp;{{ article_info.article.pmid }}<br/>
                </div>
                </div><br/><br/>
            </td>
            <td style="width: 20%; border-bottom: 1px solid black;">
                <a class="btn btn-primary" href="{{ url_for('enter.path', doi=article_info.article.doi.replace('/', '%2F')) }}">Enter Path Information</a>
            </td>
            </tr>
        {% endfor %}
        </table><br/>
    </form>
    <script>
        function filterTable() {
            // Declare variables
            var input = document.getElementById("paper_view");
            var filter = input.value;
            var table = document.getElementById("article_table");
            var tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                if (tr[i].id.includes("---") && filter != "all") {
                    var tr_vals = tr[i].id.split("---");
                    var id_val = tr_vals[0];
                    var has_completed_path = tr_vals[1].toString();
                    var has_in_progress_path = tr_vals[2].toString();
                    if (filter == "in_progress" && has_in_progress_path == "True") {
                        tr[i].style.display = "";
                    } else if (filter == "complete" && has_completed_path == "True") {
                        tr[i].style.display = "";
                    } else if (filter == "incomplete" && has_completed_path == "False") {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                } else {
                    tr[i].style.display = "";
                }
            }
        }
    </script>
{% endblock %}